html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(to right, #ada996, #c8dad9, #b4d2f2, #B2DFDB);
}
section{
    padding:10px 0px;
}
/* --------------nav start -------------------*/

.mainbox{
    font-size:27px;
    cursor:pointer;
    transition:all .4s;
}
.mainbox i:hover {
    color: #4f538eb0;
    transition: .2s;
}
.navstyle a {
    color: #0000008c !important;
}
.sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #222;
    z-index: 999;
    padding-top: 100px;
    overflow-x: hidden;
    transition:all .3s;
}
.sidemenu a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: #999;
    display: block;
}
.sidemenu a:hover{
    color:white;
}
.sidemenu .closebtn {
    position: absolute;
    top: 56px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}
.showMenu{
    width:300px !important;
}
.searchInput {
    width: 500px !important;
}
.navstyle {
    background: #c3c1c1 !important;
}
/* --------------nav end -------------------*/
.heading{
    text-align: center;
    font-family:Cairo;
}
.loginBoxWrapper{
    font-family: sans-serif;
}
.loginform {
    background: rgb(250, 250, 250) none repeat scroll 0% 0%;
    padding: 60px 30px;
    margin-top: 135px;
    box-shadow: 0px 4px 19px -5px;
    margin-bottom: 118px;
}
.loginform h3{
    font-family: Cairo;
}
.popupMsz {
    text-align: center;
    color: red;
    margin: 12px 0px;
}






/* --------------footer section -------------------*/

.footerWrapper {
    background: #f7f7f7;
}
.footer {
    padding: 0px 50px;
    font-family: sans-serif;
    color: #000000a6;
}
.footerContains {
    margin-top: 5px;
    line-height: 30px;
    text-align: justify;
}

.googleStore.mt-5 {
    width: 179px;
    margin: auto;
}
.AppStore.mt-5 {
    width: 179px;
    margin: auto;
}

.serviceWrapper {
    margin-top: 25px;
}
.socialLinksWrapper {
    padding: 60px 16px;
    width: 255px;
    margin: auto;
}
.socialLinks {
    font-size: 28px;
    margin-right: 36px;
}
.socialLinks:last-child {
    margin-right: 0px;
}
.socialLinks a {
    color: #faab10;
}

#loading {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
.copyrighttext {
    border-top: 1px solid #faab10;
    font-family: sans-serif;
}